.listContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.listWrapper{
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch{
  flex: 1;
  background-color: #febb02;
  border-radius: 10px;
  padding: 10px;
  position:sticky ;
  top: 10px;
  height:max-content
}
.listResult{
  flex: 3;
}

.lsTitle{
  font-size: 20px;
  color: #555;
}

.isItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.isItem label{
  font-size: 12px;
}
.isItem input{
  height: 30px;
  border: none;
  padding: 5px;
}
.isItem>span{
  height: 30px;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items:center;
  cursor: pointer;
}
.lsItemOptions{
  padding: 10px;
}

.lsOptionItem{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.426);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.sliderImg{
  width: 80%;
  height: 80vh;
  
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}