.footer{
  width: 100%;
  max-width: 1024px;
}
.fListContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fList{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
  font-size: 15px;
  list-style: none;
  padding: 0;
}
.fListItem{
  margin: 5px 0px;
}

.fText{
  font-size: 12px;
}